<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>F9692920-0863-4656-B9BB-53B9FF35F7DA.playgroundpage</string>
		<string>8698B845-4401-44F7-AB42-70417DFBE735.playgroundpage</string>
		<string>8031BAD3-1538-448B-A081-65BDF12404FF.playgroundpage</string>
		<string>FB597F6D-C79C-4AE5-9B8B-2EAE688364D0.playgroundpage</string>
	</array>
</dict>
</plist>
